# REQUIRED PIP INSTALLATIONS

# Enter the command in your termial in this project folder
# python -m venv wa-viewer-env
# pip install -r requirements.txt

art==5.9
ipkernel
pyautogui
pytz==2021.3
selenium==4.8.2
whatsappcloud==0.0.5
python-whatsapp-bot==0.0.91