# REQUIRED PIP INSTALLATIONS

# Enter the command in your termial in this project folder
# python -m venv wa-viewer-env
# pip install -r requirements.txt

art==5.9
ipykernel
pyautogui
pytz==2021.3
python-dotenv
selenium==4.8.2
python-whatsapp-bot
whatsappcloud==0.0.5